{{ if type == 'editor' }}
  <section 
    class="w-full container-narrow {{ if anchor }} scroll-mt-85 md:scroll-mt-135 {{ /if }}" 
    {{ if anchor }}
      id="{{ anchor }}"
    {{ /if }}
    data-section>
    {{ partial:components/editor }}
  </section>
{{ /if }}

{{ if type == 'accordion' }}
  {{ partial:components/accordion/wrapper }}
{{ /if }}

{{ if type == 'heading' }}
  {{ partial:components/heading }}
{{ /if }}

{{ if type == 'supporter' }}
  {{ partial:components/supporter }}
{{ /if }}

{{ if type == 'list_items' }}
<div class="container-narrow">
  {{ partial:components/list_items }}
</div>
{{ /if }}
