<footer class="pb-50 pt-180 text-xs lg:text-sm">
  {{ partial:layout/inner class="max-w-page" }}
  <div class="lg:grid lg:grid-cols-2">
    <div class="lg:col-span-1 lg:order-2 mb-65">
      <h3 class="font-chroma-medium mb-20">
        Initiant:innen
      </h3>
      <div>
        [Logos]
      </div>
    </div>
    <div class="lg:col-span-1 lg:order-1">
      <h3 class="font-chroma-medium mb-20">
        Kontakt
      </h3>
      <div class="grid grid-cols-2">
        <div class="col-span-2 lg:col-span-1 lg:order-1 mb-20 [&_a:hover]:decoration-1 [&_a:hover]:underline [&_a]:underline-offset-4">
          {{ contact_information:address }}
        </div>
        <div class="col-span-1 lg:col-span-2 lg:order-3">
          <nav>
            <ul>
              <li>
                <a 
                  href="/kontakt#newsletter"
                  aria-label="Newsletter"
                  class="hover:underline underline-offset-4 decoration-1">
                  Newsletter
                </a>
              </li>
              <li>
                <a 
                  href="/kontakt#impressum"
                  aria-label="Impressum"
                  class="hover:underline underline-offset-4 decoration-1">
                  Impressum
                </a>
              </li>
              <li>
                <a 
                  href="/kontakt#datenschutz"
                  aria-label="Datenschutz"
                  class="hover:underline underline-offset-4 decoration-1">
                  Datenschutz
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-span-1 lg:order-2">
          <nav>
            <ul>
              {{ if social_media_channels:instagram }}
                <li>
                  <a 
                    href="{{ social_media_channels:instagram }}"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Instagram"
                    class="flex items-center gap-x-5 group">
                    {{ partial:icons/instagram class="w-16 lg:w-20 h-auto group-hover:rotate-45 transition-transform duration-300" }}
                    <span class="group-hover:underline underline-offset-4 decoration-1">Instagram</span>
                  </a>
                </li>
              {{ /if }}
              {{ if social_media_channels:facebook }}
                <li>
                  <a 
                    href="{{ social_media_channels:facebook }}"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Facebook"
                    class="flex items-center gap-x-5 group">
                    {{ partial:icons/facebook class="w-16 lg:w-20 h-auto group-hover:rotate-45 transition-transform duration-300" }}
                    <span class="group-hover:underline underline-offset-4 decoration-1">Facebook</span>
                  </a>
                </li>
              {{ /if }}
              {{ if social_media_channels:linkedin }}
                <li>
                  <a 
                    href="{{ social_media_channels:linkedin }}"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Linkedin"
                    class="flex items-center gap-x-5 group">
                    {{ partial:icons/linkedin class="w-16 lg:w-20 h-auto group-hover:rotate-45 transition-transform duration-300" }}
                    <span class="group-hover:underline underline-offset-4 decoration-1">Linkedin</span>
                  </a>
                </li>
              {{ /if }}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  {{ /partial:layout/inner }}
</footer>
{{ vite src="resources/js/app.js" }}
{{ livewire:scripts }}
