<footer class="py-20 md:py-40 mt-60 md:mt-0">
  {{ partial:layout/inner class="max-w-page" }}
  <div class="md:grid md:grid-cols-2">
    <div class="md:col-span-1 md:order-2">
      <h3 class="font-chroma-medium">
        Trägerorganisationen
      </h3>
    </div>
    <div class="md:col-span-1 md:order-1">
      <h3 class="font-chroma-medium">
        Kontakt
      </h3>
      <div class="grid grid-cols-2">
        <div class="col-span-2 md:col-span-1 md:order-1">
          {{ contact_information:address }}
        </div>
        <div class="col-span-1 md:col-span-2 md:order-3">
          <nav>
            <ul>
              <li>
                <a 
                  href="/kontakt#newsletter"
                  aria-label="Newsletter">
                  Newsletter
                </a>
              </li>
              <li>
                <a 
                  href="/kontakt#impressum"
                  aria-label="Impressum">
                  Impressum
                </a>
              </li>
              <li>
                <a 
                  href="/kontakt#datenschutz"
                  aria-label="Datenschutz">
                  Datenschutz
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-span-1 md:order-2">
          <nav>
            <ul>
              {{ if social_media_channels:instagram }}
              <li>
                <a 
                  href="{{ social_media_channels:instagram }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Instagram">
                  Instagram
                </a>
              </li>
              {{ /if }}
              {{ if social_media_channels:facebook }}
              <li>
                <a 
                  href="{{ social_media_channels:facebook }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Facebook">
                  Facebook
                </a>
              </li>
              {{ /if }}
              {{ if social_media_channels:linkedin }}
              <li>
                <a 
                  href="{{ social_media_channels:linkedin }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label="Linkedin">
                  Linkedin
                </a>
              </li>
              {{ /if }}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  {{ /partial:layout/inner }}
</footer>
{{ vite src="resources/js/app.js" }}
{{ livewire:scripts }}
