<div class="{{ text_color }} my-35 md:my-85">

  <h2 class="{{ text_color }} text-center text-md lg:text-lg text-pretty leading-[1.15] mb-10">
    {{ premises_title }}
  </h2>

  {{ if editor }}
    <div class="text-center">
      {{ partial:components/editor }}
    </div>
  {{ /if }}

  {{ premises }}
    <div class="flex flex-col gap-y-10 lg:gap-y-20 mt-10 lg:mt-20">

      <h3 class="text-sm lg:text-md text-pretty leading-[1.15]">
        {{ title }}
      </h3>

      {{ if image }}
        {{ partial:components/media/image :image="image" :sizes="['2xl', 'xl', 'lg', 'md']" class="block w-full h-auto" }}
      {{ /if }}

      {{ if editor }}
        <div class="{{ text_color }}">
          {{ partial:components/editor }}
        </div>
      {{ /if }}

      {{ if informations }}
        <div class="mt-10">
          <table class="{{ text_color }} w-full md:w-auto border-collapse border-t border-black">
            {{ informations }}
              <tr>
                {{ cells }}
                  <td class="py-3 lg:py-5 text-xs md:text-sm {{ last ? 'pr-0 text-right' : 'pr-20 md:pr-40 lg:pr-60' }} border-b border-black">{{ value }}</td>
                {{ /cells }}
              </tr>
            {{ /informations }}
          </table>
        </div>
      {{ /if }}

      {{ if download }}
        <div class="mt-10">
          <a
            href="{{ download }}"
            target="_blank"
            class="{{ text_color }} group flex items-start gap-x-7 !no-underline">
            {{ partial:icons/arrow-download class="mt-6 group-hover:rotate-45 transition-transform duration-300" }}
            <span class="decoration-1 underline underline-offset-4 group-hover:no-underline">
              {{ download_text }}
            </span>
          </a>
        </div>
      {{ /if }}

    </div>
  {{ /premises }}
</div>
