<div class="container-wide relative md:px-0 lg:pb-60 2xl:pb-70">

  <div class="text-center text-sm md:text-md text-pretty text-redion left-0 absolute w-full">
    {{ claim | nl2br }}
  </div>

  <a 
    href="{{ link }}" 
    class="block w-100 md:w-150 2xl:w-200 h-auto fixed top-20 md:top-40 2xl:top-160 left-18 2xl:left-[calc(50%_-_32.3125rem_-_240px)] z-50 hover:rotate-[15.5deg] transition-transform duration-300"
    aria-label="Jetzt Unterstützen">
  {{ partial:icons/badge class="w-full h-auto" }}
  </a>
  {{ partial:components/media/image :image="image" :sizes="['2xl', 'xl', 'lg', 'md']" class="w-full h-auto pt-40 sm:pt-0" }}

  <div class="text-vionex text-md lg:text-lg text-center leading-[1.1] lg:-rotate-12 lg:absolute lg:z-20 lg:right-10 2xl:-right-60 lg:bottom-40 2xl:bottom-60 my-20 lg:my-0">
    aktueller<br>Spendenstand<br>CHF&nbsp;{{ donation_status | swiss_number }}
  </div>

</div>