<div class="container-wide relative md:px-0 lg:pb-60 2xl:pb-70">

  <div class="text-center text-sm md:text-md text-pretty text-redion left-0 absolute w-full">
    {{ claim | nl2br }}
  </div>


  {{ if image_mobile }}
    {{ partial:components/media/image :image="image_mobile" :sizes="['lg', 'md']" class="block sm:hidden w-full h-auto pt-40 sm:pt-0" }}
    {{ partial:components/media/image :image="image" :sizes="['2xl', 'xl', 'lg', 'md']" class="hidden sm:block w-full h-auto pt-40 sm:pt-0" }}
  {{ else }}
    {{ partial:components/media/image :image="image" :sizes="['2xl', 'xl', 'lg', 'md']" class="block w-full h-auto pt-40 sm:pt-0" }}
  {{ /if }}


</div>