<div 
  x-show="open" 
  class="mt-18">
  {{ content }}

    {{ if type == 'editor' }}
      <div class="container-narrow">
        {{ partial:components/editor }}
      </div>
    {{ /if }}

    {{ if type == 'newsletter_subsriber_form' }}
      <div class="container-narrow">
        {{ partial:components/forms/subscribers }}
      </div>
    {{ /if }}

    {{ if type == 'contact_information' }}
      <div class="container-narrow">
        <div class="[&_a:hover]:decoration-1 [&_a:hover]:underline [&_a]:underline-offset-4">
          {{ contact_information:address }}
          {{ if show_google_maps_url }}
            <a 
              href="{{ contact_information:google_maps_url }}" 
              target="_blank" 
              rel="noopener noreferrer"
              aria-label="Google Maps"
              class="group inline-flex items-center gap-x-8 !no-underline">
              {{ partial:icons/arrow-link class="w-14 lg:w-16 h-auto group-hover:translate-x-3 transition-transform duration-300" }}
              <span class="!no-underline">
                Google Maps
              </span>
            </a>
          {{ /if }}
        </div>
      </div>
    {{ /if }}

    {{ if type == 'slideshow' }}
      <div class="container-wide mt-20">
        {{ partial:components/slideshow/wrapper }}
      </div>
    {{ /if }}

    {{ if type == 'team' }}
      <div class="container-page mt-20">
        {{ partial:components/team }}
      </div>
    {{ /if }}

    {{ if type == 'list_items' }}
      <div class="container-narrow">
        {{ partial:components/list_items }}
      </div>
    {{ /if }}

  {{ /content }}
</div>

