<figure class="{{ wrapperClass }}">
  <img 
    src="{{ glide:image preset="{{ preset ? '2xl-{{ preset }}' : '2xl' }}" }}" 
    alt="{{ alt ? alt : image:alt }}" 
    aria-label="{{ alt ? alt : image:alt }}"
    height="{{ image:height }}" 
    width="{{ image:width }}"
    class="block {{ class }}"
    loading="lazy">
  {{ if caption }}
    <figcaption class="absolute bottom-0 left-1/2 -translate-x-1/2 bg-white/50 p-5 w-full text-center">
      {{ caption }}
    </figcaption>
  {{ /if }}
</figure>