<div class="relative">

  <div
    class="swiper" 
    data-gallery>
    
    <div class="swiper-wrapper">

      {{ images }}
        <div class="swiper-slide ">

          {{ partial:components/slideshow/image
            :image="image"
            :sizes="['2xl', 'xl', 'lg']"
            alt="{{ caption }}"
            wrapperClass="flex items-center justify-center aspect-[3/2] overflow-hidden"
            class="block mx-auto {{ image:width > image:height ? 'w-full h-auto' : 'block h-auto w-auto max-h-full object-cover' }}" }}
        </div>

      {{ /images }}
    </div>
  </div>

  <button class="swiper-btn-next w-20 h-45 xl:w-22 xl:h-50 absolute right-8 xl:-right-38 top-1/2 -translate-y-1/2 z-20">
    {{ partial:icons/arrow-right class="w-full h-auto text-black" }}
  </button>
  
  <button class="swiper-btn-prev w-20 h-45 xl:w-22 xl:h-50 absolute left-8 xl:-left-38 top-1/2 -translate-y-1/2 z-20">
    {{ partial:icons/arrow-left class="w-full h-auto text-black" }}
  </button>

</div>
